<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 offset-md-2">
      <input type="text" [(ngModel)]="searchValue" class="form-control" placeholder="Serch here">
    </div>
    <div class="col-md-4">
      <select name="" id="" class="form-control" (change)="onSelect(eleRef)" #eleRef>
        <option value="Select">Select</option>
        <option value="name">Player Name</option>
        <option value="team">Team Name</option>
        <option value="odiRuns">ODI Runs</option>
        <option value="testRuns">Test Runs</option>
        <option value="yearDebut">Year Debut</option>
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <table class="table table bg-white">
        <thead>
          <tr>
            <th>Sr No</th>
            <th>Player Name</th>
            <th>Team Name</th>
            <th>ODI Runs</th>
            <th>Test Runs</th>
            <th>Year Debut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of playersArr | playersPipe: searchValue : selectValue; index as i">
            <td>{{i + 1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.team}}</td>
            <td>{{player.odiRuns}}</td>
            <td>{{player.testRuns}}</td>
            <td>{{player.yearDebut}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>